<%= javascript_packs_with_chunks_tag 'booking_confirmation', 'application' %>
<%= stylesheet_packs_with_chunks_tag 'booking_confirmation', 'application' %>

<div id="params" data-params="<%= @data %>"></div>
