.property-image {
    height: 250px;
    background-size: cover;
    background-position: center;
    @media (min-width: 768px) {
        height: 400px;
    }
}

.booked-trip {
    border-style: solid;
    border-width: 2px; 
    border-color: rgb(150, 150, 150);
    box-shadow: 0 4px 8px rgba(255, 0, 0, 0.3);
    @media screen and (min-width: 768px) {
        width: 50%;
    }
}